/* General styles */

* {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 2.5rem; /* 40px */
    line-height: 3rem; /* 48px */
}

h2 {
    font-size: 1.5rem; /* 24px */
    line-height: 1.8125rem; /* 29px */
    margin: 0;
}

h5, label {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    margin: 0;
}

button {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    margin-top: 16px;
    background-color: transparent;
}

button:hover {
    background-color: #9d3b00;
    color: #FFFFFF;
    cursor: pointer;
}

button:focus {
    outline: 2px solid #FF6600;
}

.primary-btn {
    background-color: #FF6600;
    color: #FFFFFF;
}

label {
    margin-top: 10px;
}

input {
    border: #999999 solid 1px;
    border-radius: 4px;
    height: 32px;
}

textarea {
    border-radius: 4px;
    height: 96px;
}

.hidden {
    display: none !important;
}

.float-right {
    float: right;
}

.action-buttons i:hover {
    color: #FF6600;
    cursor: pointer;
}

/* Container styles */

.container {
    width: 800px;
    background-color: #E2E2E2;
    padding: 24px;
}

.container > button {
    float: right;
}

/* Search bar */

#search-input {
    width: 100%;
}

.fa-magnifying-glass {
    float: right;
    margin-right: 6px;
    margin-top: -24px;
    position: relative;
    z-index: 2;
}

#search-filters input,
#tags input {
    display: none;
}

.filters label {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
}

.filters > label {
    margin-right: 10px;
    margin-left: 0;
    padding: 0;
}

input:checked + label {
    color: #FF6600;
}

/* Card styles */

.card {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 16px;
    font-size: 10px;
    margin: 16px 0;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.card.completed {
    opacity: 0.5;
}

.card.completed > h2,
.card.completed > p {
    text-decoration-line: line-through;
}

.card.completed .action-buttons .fa-pen {
    display: none;
}

.card > .filter-label {
    border: #FF6600 solid 1px;
    border-radius: 2px;
    color: #FF6600;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 2px 3px;
}

.card > p {
    font-size: 16px;
    line-height: 19px;
    margin: 0;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    gap: 16px;
}

#add-form {
    padding-top: 16px;
    border-top: #999999 solid 1px;
    display: flex;
    flex-direction: column;
}

/* Media Queries */

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    h1 {
        font-size: 32px;
    }
}

@media (max-width: 600px) {
    .action-buttons {
        flex-direction: column;
        gap: 8px;
    }
}
